# .env.local
NODE_ENV=development
PORT=3001
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cvshop
DB_HOST=localhost
DB_PORT=5432
DB_USER=cvshop
DB_PASS=cvshop
DB_NAME=cvshop_dev

JWT_ACCESS_SECRET=super_access_secret_dev
JWT_REFRESH_SECRET=super_refresh_secret_dev
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

#Password reset token
JWT_PASSWORD_RESET_SECRET=super_password_reset_secret_dev
JWT_PASSWORD_RESET_TTL=1h

# ====== PUBLIC URLS ======
AUTH_PUBLIC_URL=http://localhost:3001

# ====== EMAIL VERIFY TOKEN ======
EMAIL_VERIFY_SECRET=super_email_verify_secret_dev
EMAIL_VERIFY_TTL=24h

# ====== SMTP / MAILHOG (dev) ======
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=cvshop
SMTP_PASSWORD=cvshop
EMAIL_FROM=hfernandes238@gmail.com
# Option DEV UNIQUEMENT (désactivée par défaut)
INCLUDE_PASSWORD_IN_EMAIL=true
ADMIN_BOOTSTRAP_TOKEN=super_admin_verify_secret_dev

# Choix du storage
STORAGE_DRIVER=local       # local | s3

# LOCAL (dev)
PUBLIC_BASE_URL=http://localhost:3001
UPLOADS_DIR=uploads

# S3 (prod)
AWS_REGION=eu-west-3
S3_BUCKET_AVATARS=cvshop-avatars-dev
# En local, si tu n’as pas le rôle IAM : 
# AWS_ACCESS_KEY_ID=xxxx
# AWS_SECRET_ACCESS_KEY=xxxx
CDN_BASE_URL=              # optionnel (CloudFront), sinon URL S3

# Kafka
KAFKA_BROKERS=localhost:19092
KAFKA_CLIENT_ID_NOTIFS=notifications-service
KAFKA_GROUP_NOTIFS=notifications-consumer
KAFKA_CLIENT_ID_AUTH=auth-service
# pour enlever l’avertissement partionner
KAFKAJS_NO_PARTITIONER_WARNING=1


