# mkdir -p docker/env
# cat > docker/env/.env.example <<'ENV'
# ====== GLOBAL ======
NODE_ENV=development

# ====== EXPOSED PORTS (host) ======
API_GATEWAY_PORT=3000
AUTH_PORT=3001
PRODUCTS_PORT=3002
ORDERS_PORT=3003
PAYMENTS_PORT=3004
NOTIFICATIONS_PORT=3005

# ====== POSTGRES ======
POSTGRES_USER=cvshop
POSTGRES_PASSWORD=cvshop
POSTGRES_DB=cvshop_dev
DB_HOST=postgres
DB_PORT=5432
DB_USER=cvshop
DB_PASS=cvshop
DB_NAME=cvshop_dev
# ====== PGADMIN ======
PGADMIN_DEFAULT_EMAIL=admin@cvshop.local
PGADMIN_DEFAULT_PASSWORD=admin

# ====== RABBITMQ ======
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# ====== JWT (met des secrets >= 32 chars en vrai) ======
JWT_ACCESS_SECRET=change_me_access_32_chars_min________________
JWT_REFRESH_SECRET=change_me_refresh_32_chars_min_______________
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

# ====== PUBLIC URLS ======
AUTH_PUBLIC_URL=http://localhost:3001

# ====== EMAIL VERIFY TOKEN ======
EMAIL_VERIFY_SECRET=super_email_verify_secret_dev
EMAIL_VERIFY_TTL=24h

# ====== SMTP / MAILHOG (dev) ======
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=cvshop
SMTP_PASSWORD=cvshop
EMAIL_FROM=hfernandes238@gmail.com

# # ====== NOTIFS (exemples; adapte plus tard) ======
# EMAIL_FROM=admin@cvshop.local
# SMTP_HOST=mailhog
# SMTP_PORT=1025
# SMTP_USER=
# SMTP_PASSWORD=

# APP_URL=http://localhost:3001
# FRONT_URL=http://localhost:4200
# EMAIL_CONFIRM_TTL_MIN=60

# ====== STRIPE (exemples placeholders) ======
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
ENV
